.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    /* margin: 5rem auto; */
    /* height: 100vh; */
    min-width: 60%;
    max-width: 600px;
    min-height: 500px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.servicesSubtitle {
    margin-bottom: 1rem;
    font-family: 'Merriweather';
    font-size: 2rem;
}

@media screen and (min-width: 650px) {
    .servicesContainer{
        margin: 10rem auto;
        min-height: 500px;
    }
    
    .servicesSubtitle{
        font-size: 3rem;
        font-weight: lighter;
    }

    .infoContainer{
        font-size: 1.5rem;
    }
}

.appNav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
}

.navDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}