.servicesContainer {
    /* padding: 0 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* height: 100vh; */
}

.servicesTitle {
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    width: 24rem;
    display: flex;
    /* padding: 1rem; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.servicesSubtitle {
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    padding: 1rem;
}
  
.app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;    
}

@media screen and (min-width: 768px) {
    .infoContainer{
        width: 36rem;
    }
}