.brandsContainer {
    background-color: white;
}

.brandsTitle {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: 2rem;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 2.5rem;
    justify-content: space-between;
}

.brandImage {
    width: auto;
    /* max-width: 100%; */
    height: auto;
    object-fit: contain;
    margin: 1rem;
}
