.navbar{
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    margin-bottom: 1rem;
}

.logo{
    width: 300px;
}