*{
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1F1F1F;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.commonText{
  font-size: 1.25rem;
}

.titleText{
  font-size: 3rem;
  font-family: 'Merriweather';
  font-weight: lighter;
}

.bold{
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  .titleText{
    font-size: 1.5rem;
  }

  .commonText{
    font-size: 0.8rem;
  }
}

.CTA{
  border-radius: 50px;
  width: 175px;
  height: 60px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  background-color: #1F1F1F;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
